@model VitalSigns.Web.Models.SiteMap

<ul>
    <li>
        <a href="javascript:void(0);" class="toggleMenuBt menuIcon">
            <img class="svgInject" src="/img/menu/toggleMenu.svg" title="toggle Menu" alt="toggle Menu" />
        </a>
    </li>

    @foreach (var l1Node in Model.Nodes)
    {
        <li>
            <a [routerLink]="['@l1Node.Url']" class="menuIcon">
                <img class="svgInject" src="@l1Node.Icon" title="@l1Node.Title" alt="@l1Node.Title" />
                <span class="zeusMenuTitle">@l1Node.Title</span>
            </a>

            <ul>

                @if (l1Node.Nodes != null)
                {

                    @foreach (var l2Node in l1Node.Nodes)
                    {
                        <li><a [routerLink]="['@l2Node.Url']">@l2Node.Title</a></li>

                        @if (l2Node.Nodes != null)
                        {
                            <ul>
                                @foreach (var l3Node in l2Node.Nodes)
                                {
                                    <li><a [routerLink]="['@l3Node.Url']">@l3Node.Title</a></li>
                                }
                            </ul>
                        }

                    }

                }

            </ul>


        </li>
    }

</ul>